*
*/

!.gitignore
!LICENSE
!README.org
!flake.lock
!flake.nix

!lib/
!lib/**/
!lib/**/*.nix

!pkgs/
!pkgs/**/
!pkgs/**/*.nix
!pkgs/**/*.scm
!pkgs/**/*.sh

!modules/
!modules/**/
!modules/**/*.age
!modules/**/*.css
!modules/**/*.md
!modules/**/*.nix
!modules/**/*.sh
!modules/**/*.xml
!modules/**/*.yaml

!tests/
!tests/**/
!tests/**/*.nix

*~
*#*
**/tmp/